@model List<Cultuurhuis.Models.Genre>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/voorstellingen.png" /></h1>
</div>

<h4 class="alert alert-info">Kies een voorstellingsgenre</h4>

<ul class="nav nav-pills">
    @{
        foreach (var g in Model.OrderBy(g => g.Naam))
        {

            <li role="presentation">
                <a href="@Url.Action("FindByGenre", new { genreNr = g.GenreNr })">@g.Naam</a>
            </li>
        }
    }
</ul>