@{
    ViewBag.Title = "Wissen";
}
<div class="jumbotron">
    <h1>Application en session state</h1>
    <p class="lead">Session- en applicatievariabele werden gewist.</p>
    <p>
        <a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a>
    </p>
</div>