@{
    ViewBag.Title = "DatabaseError";
}

<h1>DatabaseError</h1>
<h2>Er heeft zich een fout voorgedaan in de databse.</h2>
@Html.ActionLink("Naar homepage", "Index", "Home", null, new { @class = "btn btn-primary" })