@using MVC_Voorbeeld2.Models
@model List<Werknemer>
@{
    ViewBag.Title = "AlleWerknemers";
}
<h2>Alle Werknemers</h2>
<ul>
    @foreach (Werknemer werknemer in Model)
    {
        <li>@werknemer.Voornaam verdient @werknemer.Wedde</li>
    }
</ul>
@section scripts {
    <p>Hier komen nog allerlei scripts...</p>
}